@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body{
}

@media screen and (max-width: 768px) {
    nav {
        position: fixed;
        top: 0;
        left: -100vw;
        width: 70%;
        height: 100%;
        z-index: 100;
        padding-top: 10vh;
    
    }
    
    nav a {
        @apply font-bold text-gray-800 cursor-pointer flex;
    }
    
    nav.open{
        top: 0;
        left: 0;
        background-color: #fff;
        transition: all 0.5s ease-in-out;
        @apply shadow-2xl flex flex-col items-start pl-5 gap-3;
    
    }
    
}

.close{
    position: absolute;
    z-index: 999;
    @apply text-2xl text-gray-800 top-5 left-5 cursor-pointer;
}
